
body,main,article,section,header,footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a {
    flex-grow: 1;
    text-align: center;
    color:white;
    text-decoration: none;
    border: white 2px solid;
    padding: 5px;
}
nav a:hover {
    color: black;
    background-color: white;
}

body {
    padding: 100px;
    font-size: 16px;
    background-color: black;
    color: white;
}
section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.em {
    background-image: url(../optimize-images/alma-snortum-phelps-Lo8pE-e3AiU-unsplash.jpg);
    border: solid darkorange 1em;
    font-size: 1.2em;
}
.rem {
    background-image: url(../optimize-images/artem-militonian-UYW6FZLlnL8-unsplash.jpg);
    border: dotted darkred .5rem;
}
.per {
    background-image: url(../optimize-images/elizabeth-lies-ZWPerNlqUu0-unsplash.jpg);
}
.per p {
    width: 75%;
}
.bs {
    background-image: url(../optimize-images/j-k-4AQjVB2UrdU-unsplash.jpg);
    box-sizing: border-box;
    border:solid dodgerblue 3em;
}
.vw{
    background-image: url(../optimize-images/nathan-dumlao-0tykfPL2U7w-unsplash.jpg);
    border: dashed 1vw;
    box-sizing: border-box;
    font-size: 1vw;
}