@media screen and (max-width:550px) {
    nav, main, footer, article, main ul, header, nav ul, .tobi, .joker {
        width: 90%;
        display: block;
        margin: auto;
    }
    body {
        padding: 5px;
    }
    .pure-g, .pure-menu-horizontal .pure-menu-item {
        display: block;
    }
    .pure-u-1-5, .pure-u-1-2 {
        width: 90%;
    }
    .joker img, .tobi img {
        width: 90%;
    }
    main {
        grid-template-areas: none;
    }
    .item1, .item3 {
        height: 400px;
    }
}