header {
    background-color:blue ;
}

nav {
    background-color: aquamarine;
}

main {
    background-color: aqua;
}

ul {
    background-color: red;
}

li {
    color: white;
}

footer {
    color: green;
}
